@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
}

.step {
    position: relative;
    left: 5%;
    padding-right: 35px;
    opacity: 0.62;
    width: 12%;
    height: 12%;
}

.step:hover {
    opacity: 0.73;
}

.relpos {
    position: absolute;
    top: -110px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
}

h2 {
    width: 100vw;
    position: absolute;
    top: calc(30vh + 55px);
    text-align: center;
    transform: translateX(-1%);
    font-weight: 600;
    font-size: 35px;
    color: #474747;
}

.relpar {
    position: relative;
    left: 50%;
    top:500px;
    width: 600px;
    height: 50px;
    transform: translateX(-53%);
    font-weight: 500;
    z-index: 1;
}

form p {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: #a0a0a0;
    padding-left: 5px;
    padding-right: 5px;
}

form p span {
    cursor: pointer;
    transition: color 0.5s;
}

input[type=text] {
    width: 600px;
    height: 40px;
    border: 1px solid #a0a0a0;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    color: #5a5a5a;
    
}

.stripe {
    position: relative;
    width: 40px;
    height: 25vh;
    color: white;
    z-index: 2;
}

.stripe .title  {
    position: relative;
    width: 40px;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.stripe .title span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-weight: 500;
}

.stripe .content {
    position: absolute;
    left: calc(5vw + 40px);
    width: calc(90vw - 40px);
    display: none;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.stripe .content div {
    position: relative;
    height: 100%;
    width: 150px;
    display: none;
}

.stripe .content div img {
    position: absolute;
    max-height: 100px;
    max-width: 150px;
    top: 50%;
    transform: translateY(-50%);
}
.stripe .content span {
    line-height: calc(25vh - 50px);
    display: none;
}

.stripe .content span a {
    text-decoration: none;
    color: white;
}
