.website {
    padding-right: 5%;
    opacity: 0.62;
    width: 100px;
}

.website:hover {
    opacity: 0.73;
}

body {
    background-color: #f6f6f6;
}

.centered {
    text-align: center;
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}